.contact {

    color: #FFFF;
}

.footer_one {

    background-color: #271450;
}

.footer_one h2 {

    margin-top: 60px;
    
}

.footertext {

    text-align: justify;
}

.logo-container {
    display: flex;
    align-items: center;
    padding: 10px;
}

.logo-icon {
    width: 30px; 
    height: auto;
    margin-right: 8px;
}

.logo-text {
    font-size: 25px;
    color: #FFFF;
    font-weight: bold;
    margin-top: 58px;
}

.social-icon {

    margin-right: 200px;
}

.social {

    color: #FFFF;
}

.contact_one {

    margin-left: 87px;
}