.carddata {

    padding: 10px;
    background-color: #271450;
    
}

.testimonialtext {

    color: #c9af7f;
    text-align: justify;
    font-size: 15px;
}

.rname {

    color: white;

}

.rrole {

    color: #c9af7f;
}
